body {
  font: icon;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

body.file::before {
  background: salmon;
  color: white;
  content: 'DEV';
  display: initial;
  padding: 4ex 4ex 1ex;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
}

input {
  margin: 0 auto;
  width: 50%;
}

#itemsDiv {
  margin: auto;
  position: relative; /* Parent absolute drop divs to this */
}

.itemDiv {
  align-items: center;
  display: flex;
  gap: 1ex;
  padding: .5ex;
}

.itemDiv:hover {
  background: whitesmoke;
}

.tagSpan {
  background: whitesmoke;
  outline: 1px solid lightgray;
  padding: 0 .5ex;
}

.titleSpan {
  flex: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropDiv {
  height: 1ex;
  margin: -.5ex 0 0;
  position: absolute;
  width: 100%;
}

/* Display all the in-between drop zones when drag and drop occurs */
.dnd .dropDiv {
  background: lightgray;
}

/* Note that :hover cannot be used because it does not fire on drag-hover */
.dropDiv.hover {
  background: salmon;
}
