body {
  font: icon;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

body.file::before {
  background: salmon;
  color: white;
  content: 'DEV';
  display: initial;
  padding: 4ex 4ex 1ex;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
}

input {
  margin: 0 auto;
  width: 50%;
}

#itemsDiv {
  margin: auto;
}

.itemDiv {
  align-items: center;
  display: flex;
  gap: 1ex;
  padding: .5ex;
}

.itemDiv:hover {
  background: whitesmoke;
}

.titleSpan {
  flex: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
